<form #superheroForm="ngForm">
  <strong>
    Form Status, Valid- {{superheroForm.valid}}. Pristine- {{superheroForm.pristine}}. Touched-
    {{superheroForm.touched}}
  </strong>
  <div>
    <!-- Appearance: Outline -->
    <mat-form-field appearance="outline">
      <mat-label>Superhero Name</mat-label>
      <input type="text" [(ngModel)]="superhero.name" required matInput required
        placeholder="A name to be remembered" />
      <mat-hint>Enter name</mat-hint>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" name="email" email [(ngModel)]="superhero.email" matInput #email="ngModel" />
      <mat-hint>How do I contact the superhero for help?</mat-hint>
    </mat-form-field>
  </div>
  <!-- Show error message to the user -->
  <div class="error-message" *ngIf="!email.valid && email.touched">
    Please enter a valid email address.
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Powers</mat-label>
      <textarea name="details" [(ngModel)]="superhero.
    details" minlength="4" maxlength="10" cdkTextareaAutosize cdkAutosizeMinRows="4" cdkAutosizeMaxRows="10" rows="6"
        matInput></textarea>
      <mat-hint>Explain superhero powers</mat-hint>
    </mat-form-field>
  </div>

  <div>
    <!-- Appearance: Outline -->
    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <mat-select placeholder="select country" [(value)]="superhero.country">
        <mat-option>None</mat-option>
        <mat-optgroup label="Earth">
          <mat-option value="in">India</mat-option>
          <mat-option value="us">United States</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Outer Space">
          <mat-option value="os">Asgard</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <!-- Appearance: Outline -->
    <mat-form-field appearance="outline">
      <mat-label>Special Powers</mat-label>
      <mat-select required name="powers" [(ngModel)]="superhero.
    specialPowers" multiple>
        <mat-option>None</mat-option>
        <mat-option value="fly">fly</mat-option>
        <mat-option value="hammer">wield hammer</mat-option>
        <mat-option value="power">grow powerful</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <strong> My superhero can " {{powers}} "</strong> -->
  </div>

  <!--div>
  <mat-form-field appearance="standard">
    <mat-label>Likes to eat</mat-label>
    <mat-chip-list #favFood>
      <mat-chip>
        Laddu
      </mat-chip>
      <mat-chip>
        Cheeseburger
      </mat-chip>
    </mat-chip-list>
    <input [matChipInputFor]="favFood" />
  </mat-form-field>
</div-->

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Likes to eat</mat-label>
      <mat-chip-list #favFood>
        <mat-chip *ngFor="let item of items" (removed)="removeHandler(item)">
          {{item}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <input [matChipInputFor]="favFood" (matChipInputTokenEnd)="addItem($event)" matChipInputAddOnBlur />
    </mat-form-field>
  </div>

</form>

<strong>
  {{model}}
</strong>

<div>
  <button mat-stroked-button> Cancel </button>
  <button mat-stroked-button [disabled]="!superheroForm.valid"> Save
  </button>
</div>
