<mat-card>
  <div>Superhero profile.</div>
  <!-- Superhero details go here -->
  <!-- Show value of a variable -->
  <h2 [ngStyle]="styles">{{name}}</h2>
  <!-- Shows sum of two numbers, evaluated -->
  <div class="apply-margin">
    <input type="text" [(ngModel)]="superheroName" />
    |
    <strong [innerText]="superheroName"></strong>
    </div>

  <strong> {{ 1243 + 232 }} </strong>
  <!-- Calls a function and shows the returned value -->
  <div [ngClass]="cssClasses"> First
    appeared in {{firstAppearance}} </div>
  <button (click)="returnSuperheroData()"> Fly with a Superhero</button>
  <ng-content></ng-content>
</mat-card>
