<mat-card>
  <div>Superhero profile.</div>
  <hr />
  <ng-container *ngIf="showContacts; then contactDetails else hiddenText"></ng-container>
  <input class="specialInput" type="checkbox" [(ngModel)]="showContacts">
  <!--div *ngTemplateOutlet="heroContactDetails"></div-->
  <hr />
  <!-- Superhero details go here -->
  <!-- Show value of a variable -->
  <h2 [ngStyle]="styles">{{name}}</h2>
  <!-- Shows sum of two numbers, evaluated -->
  <div class="apply-margin">
    <input type="text" [(ngModel)]="superheroName" />
    |
    <strong [innerText]="superheroName"></strong>
  </div>

  <strong> {{ 1243 + 232 }} </strong>
  <!-- Calls a function and shows the returned value -->
  <div [ngClass]="cssClasses"> First
    appeared in {{firstAppearance}} </div>
  <button (click)="returnSuperheroData()"> Fly with a Superhero</button>
  <ng-content></ng-content>
</mat-card>

<ng-template #contactDetails>
  <h3>Contact Details</h3>
  Email: ChhottaBheem@angularsample.com
  Meet him in Dholakpur Villege in India.
</ng-template>

<ng-template #hiddenText>
  <hr />
  *Contact information is hidden.
</ng-template>
